<%
  var d3 = Object.assign({}, require("d3-scale"), require("d3-array"), require("d3-axis"));

  var delegates = json.delegates.sum.parties.Dem.candidates,
    candidates = json.candidates.filter(d => d.show_on_delegate_tracker === true),
    sorted_candidates = candidates.sort(function(a, b) {
      return delegates.find(c => c.name === b.last).total - delegates.find(c => c.name === a.last).total
    });

  var months = ["Jan.", "Feb.", "March", "April", "May", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."];

  var d = new Date(),
    month = months[d.getMonth()],
    day = d.getMonth(),
    year = d.getFullYear();

  var printdate = month + " " + day + ", " + year;

  var margin = {top: 0, bottom: 30, left: 80, right: 50},
    height = 300 - margin.top - margin.bottom,
    width = "calc(100% - " + (margin.left + margin.right) + "px)",
    colors = ["#d89253", "#d3d3d3"],
    ticks = [0, 500, 1000, 1500, 2000],
    xScale = d3.scaleLinear()
      .range([0, 100])
      .domain([0, d3.max(delegates, d => d.total)]),
    yScale = d3.scaleBand()
      .domain(candidates.map(d => d.last))
      .range([0, height])
      .paddingInner(0.2),
    yAxis = d3.axisLeft()
      .scale(yAxis);
%><!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <main class="interactive interactive--delegates">
        <h1 class="widget__hed">Total Democratic delegates awarded</h1>
        <p class="note widget__note">Last updated <%= printdate %></p>
        <p class="graphic-chatter">1,991 delegates are needed to secure nomination on the first ballot at the Democratic National Convention.</p>
        <div class="chart-outer" style="width: <%= width %>; height: <%= height %>px">
          <div class="chart-inner" style="left: 0; top: <%= margin.top %>px">
            <% sorted_candidates.forEach(function(c, i) { %>
              <div class="chart__g" style="left: 0; top: <%= yScale(c.last) %>px;">
                <p class="graphic-text graphic-text--small names" style="width: <%= margin.left %>px;"><%= c.last %></p>
                <div class="chart__bar" style="left: <%= margin.left %>px; width: <%= xScale(delegates.find(a => a.name === c.last).total) %>%; height: <%= yScale.bandwidth() %>px;"></div>
                <p class="graphic-text graphic-text--small numbers" style="top: 0; left: <%= xScale(delegates.find(a => a.name === c.last).total) %>%; margin-left: <%= margin.left + 5 %>px"><%= delegates.find(a => a.name === c.last).total %></p>
              </div>
            <% }) %>
          </div>
        </div>
        <div class="delegates__caption">
          <p class="data-source">Source: Associated Press</p>
          <p class="art-credit">Hilary Fung / The Seattle Times</p>
        </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
